---
layout: default
---

<main>
  <section class="wrap clearfix">
    <div class="logo-block">
      <img src="/assets/images/logo.png" alt="">
    </div>
    <div class="info">
      <h1>Welcome to Equusbury</h1>
      <p>Equusbury is a marketplace for horse-minded people to connect in order to buy and sell jewelry, fashion clothing, accessories, and decorations for the home. We are an online community of entrepreneurs who bring their unique creations to shoppers looking for things that are different.</p>
      <p>Equusbury specializes in bringing shoppers quality, hand-crafted products made of genuine materials, like sterling silver, leather, and suede. We are a source for unique photography, paintings, and other items that you can use to furnish and decorate your home.</p>
      <p>Any inquiries can be sent to <a href="mailto@info@equusbury.com">info@equusbury.com</a>.</p>
    </div>

  </section>
</main>
